/* uni-app 全局 SCSS 变量 */
$uni-color-primary: #18a37e;
$uni-color-success: #18a37e;
$uni-color-warning: #ff976a;
$uni-color-error: #f53f3f;

$uni-text-color: #1f2329;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #8f959e;
$uni-text-color-placeholder: #c0c4cc;
$uni-text-color-disable: #c0c4cc;

$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f5f6f8;
$uni-bg-color-hover: #f1f2f3;
$uni-bg-color-mask: rgba(0, 0, 0, 0.4);

$uni-border-color: #ebebeb;

$uni-font-size-sm: 24rpx;
$uni-font-size-base: 28rpx;
$uni-font-size-lg: 32rpx;

$uni-spacing-row-sm: 10rpx;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;